.settings_page {

    &-card {
        .page-head {

            margin-bottom: 15px;

            span {
                font-size: 30px;
            }
        }
    }

    &-theme-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    &-theme-button {
        border-radius: 30px;
        overflow: hidden;
        border: 1px solid $base-black;

        img {
            pointer-events: none
        }
    }

    &-profile {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 50px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: relative;

        &-icon {
            width: 230px;
            height: 230px;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 40px;
        }

        &-name {
            font-size: 45px;
            margin-bottom: 25px;
        }

        &-email {
            font-size: 30px;
            margin-bottom: 25px;
        }

        &-description {
            margin-bottom: 50px;
        }
    }

    .fadeIn {
        animation: .5s fadeInSide forwards;
    }

    .fadeOut {
        animation: .5s fadeOutSide forwards;
    }

}

.settings_button {
    position: absolute;
    top: 50px;
    right: 50px;
}

.save_change {
    font-size: 30px;
    text-decoration: underline;
    transition: .3s;
}

.theme_card {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.change_icon {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    input {
        width: 100%;
        height: 100%;
        position: absolute;
        // z-index: -1;
        opacity: 0;
        cursor: pointer;
    }

    span {
        font-size: 30px;
        text-decoration: underline;
        cursor: pointer;
    }
}

.light_theme,
.dark_theme {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    span {
        font-size: 20px;
        text-decoration: underline;
    }
}

@media screen and (max-width: 768px) {
    .settings_page {
        .page-wrapper {
            flex-direction: column;
            justify-content: flex-start;
            overflow: auto;
        }

        .page-half {
            width: 100%;
        }
    }
}