.user_page {

    &.page {
        padding: 0px 25px;
    }

    .sidebar {
        &_wrapper {
            padding: 25px 0px;
        }

        &_logo {
            top: 25px;
        }
    }

    &-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-half {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 25px;
    }

    &-card {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border: 1px solid $base-black;
        border-radius: 50px;
        background: $base-white;
    }

    &-list {
        display: grid;
        padding: 20px;
        // padding: 50px 20px;
        overflow: hidden;
        height: 100%;
        width: 100%;

        &-scroll {
            display: grid;
            width: 100%;
            height: 100%;
            gap: 20px;
            overflow: auto;
            grid-template-columns: repeat(2, minmax(200px, 1fr));
            grid-template-rows: 195px;
        }
    }

    &-profile {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 50px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        &-icon {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 40px;
        }

        &-name {
            font-size: 45px;
            margin-bottom: 25px;
        }

        &-email {
            font-size: 30px;
            margin-bottom: 25px;
        }

        &-description {
            margin-bottom: 50px;
        }

        &-decency {
            font-size: 25px;

        }
    }
}

@media screen and (max-width: 1440px) {
    .user_page-list-scroll {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
}