.categories_page {

    &-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: auto;
        border-radius: 10px;
        padding: 0px 10px 0px 0px;
    }

    .talk_card-link {
        // width: 25%;
        width: 100%;
        // height: 100%;
    }
}