.auth {
    width: 100%;
    height: 100%;

    button,
    a {
        color: $base-black;
    }

    &_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &_header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 60px;
        margin-bottom: 30px;

        span {
            font-size: 45px;
        }
    }

    &_reg-form,
    &_log-form {

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        form {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            // input {
            //     max-width: 700px;
            //     width: 100%;
            //     padding: 25px 0px;
            //     display: flex;
            //     background: transparent;
            //     border: 1px solid $base-black;
            //     text-align: center;
            //     margin-bottom: 30px;
            //     border-radius: 50px;
            //     color: $base-black;
            //     transition: .3s;

            //     &:last-child {
            //         margin-bottom: 0;
            //     }
            // }
        }
    }

    &_submit {
        font-size: 45px;
        margin-bottom: 40px;
    }

    .change_form {
        font-size: 30px;

        span {
            text-decoration: underline;
        }
    }
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}