@import 'scss-reset/reset';
@import './colors.scss';
@import './fonts.scss';
@import './text.scss';
@import './talk-card.scss';

@import '../components/Sidebar/Sidebar.scss';
@import '../components/CardSwiper/CardSwiper.scss';
@import '../components/PageLogo/PageLogo.scss';
@import '../components/BottomModal/BottomModal.scss';
@import '../components/LogRegistration/LogRegistration.scss';
@import '../components/Message/Message.scss';

@import '../pages/UserPage/UserPage.scss';
@import '../pages/CategoriesPage/CategoriesPage.scss';
@import '../pages/RoomsPage/RoomsPage.scss';
@import '../pages/RoomPage/RoomPage.scss';
@import '../pages/SettingsPage/SettingsPage.scss';

[data-theme="light"] {

    .page-list-wrapper,
    .talk_card,
    .sidebar_list,
    .page-card,
    .settings_page-theme-button,
    .modal {
        border: 1px solid $base-black;
    }

    .sidebar_logo {
        fill: $base-black
    }

    span,
    p {
        color: $base-black;
    }
}



[data-theme="dark"] {

    .page-list-wrapper,
    .talk_card,
    .sidebar_list,
    .page-card,
    .settings_page-theme-button,
    .user_page-card,
    .modal,
    .room_page-wrapper,
    .messenger_container-bot-input,
    .room_sidebar-slider, 
    .message_content,
    .base_input {
        border: 1px solid $base-white;
    }

    .room_page {
        .page-head {
            border-bottom: 1px solid $base-white;
        }
    }

    .messenger_container-bot {
        border-top: 1px solid $base-white;
    }

    input {
        color: $base-white
    }

    .sidebar_list-item {
        background: url('../assets/icons/button-border-white.svg') center no-repeat;
        background-size: contain;
    }

    .room_sidebar-slider {
        .swiper-slide {
            background: url('../assets/icons/button-border-white.svg') center no-repeat;
            background-size: contain;
        }
    }

    .card_bg {
        display: none;
    }

    svg {
        path {
            stroke: $base-white;
        }
    }

    .sidebar_logo {
        fill: $base-white
    }

    .page-card,
    .user_page-card,
    .sidebar_list,
    .modal,
    .messenger_container-bot,
    #chat-message-input,
    .messenger_container-bot-input,
    .messenger_container-content {
        background: $base-black;
    }

    .message {
        * {
            background: $base-black;
        }
    }

    span,
    p,
    a,
    button, h1 {
        color: $base-white;
    }
}

body {
    background: $base-white;
    font-family: 'Arbutus Slab';
    color: $base-black;
    transition: .5s;

    * {
        transition: .5s;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    a {
        text-decoration: none;
        color: $base-black;
    }

    &:has([data-theme="light"]) {
        background: $base-white;
    }

    &:has([data-theme="dark"]) {
        background: $base-black;
    }
}

::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $base-black;
    border-radius: 20px;
}

#root {
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}

.App {
    width: 100%;
    height: 100%;

    &_content {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.square_swiper-prev,
.square_swiper-next {
    background: $light-base-color;
    border-radius: 20px;
    padding: 20px 25px;
}

.content_wrapper {
    width: 100%;
    height: 100%;
}

.page {
    width: 100%;
    height: 100%;
    // padding: 50px;
    // padding: 25px;

    &-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-half {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 25px;
    }

    &-card {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border: 1px solid $base-black;
        border-radius: 50px;
        background: $base-white;
    }

    &-head {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;

        span {
            font-size: 45px;
        }
    }

    &-list {
        display: grid;
        // padding-right: 15px;
        height: 100%;
        width: 100%;
        grid-template-columns: repeat(4, minmax(200px, 1fr));
        grid-template-rows: 195px;
        /* Карточки будут занимать минимум 200px и растягиваться на всю доступную ширину */
        gap: 10px;
        /* Отступ между карточками */
        overflow: auto;
    }

    &-list-wrapper {
        padding: 20px;
        border: 1px solid $base-black;
        border-radius: 50px;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    &-container {
        width: 100%;
        height: 100%;
        display: flex;
        // flex-direction: column;
        align-items: flex-start;
        // justify-content: center;
        justify-content: center;
        // border-radius: 10px;
        gap: 25px;
    }

    &-scroll-container {
        width: 100%;
        height: 100%;
        overflow: auto;
        // padding: 0px 20px 0px 0px;
        // border-radius: 10px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 25px;
    }
}

.wrapper {
    width: 100%;
    height: 100%;
    transition: .3s;
}

.swiper-button {
    svg {
        path {
            transition: .3s;
        }
    }

    &:hover {
        svg {
            path {
                fill-opacity: 1;
                transition: .3s;
            }
        }
    }
}

.swiper_conteiner {
    width: 150px;
    flex: 1 1 auto;
}

.base_input {
    max-width: 700px;
    width: 100%;
    padding: 25px 0px;
    display: flex;
    background: transparent;
    border: 1px solid $base-black;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 50px;
    color: $base-black;
    transition: .3s;

    &:last-child {
        margin-bottom: 0;
    }
}

.fadeIn {
    animation: .5s fadeIn forwards;
}

.fadeOut {
    animation: .5s fadeOut forwards;
}

@keyframes fadeIn {
    from {
        // opacity: 0;
        transform: translateY(100%);
    }

    to {
        // opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        // opacity: 1;
        transform: translateY(0);
    }

    to {
        transform: translateY(-100%);
        // opacity: 0;
    }
}

@keyframes fadeInSide {
    from {
        // opacity: 0;
        transform: translateX(100%);
    }

    to {
        // opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOutSide {
    from {
        // opacity: 1;
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
        // opacity: 0;
    }
}

.hello_page {
    width: 100%;
    height: 100%;

    a {
        font-size: 55px;
        transition: .3s;
    }

    &-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 110px;
        padding: 50px 0px;
    }

}

@media screen and (max-width: 1440px) {
    .page {
        &-list {
            grid-template-columns: repeat(2, minmax(200px, 1fr));
        }
    }
}

@media screen and (max-width: 768px) {
    .page {
        &-list {
            grid-template-columns: repeat(1, minmax(200px, 1fr));
        }

        &-head {
            margin-bottom: 20px;
        }
    }
}